{% extends 'base-auth.html' %}
{% block body %}
    <main class="container">
        <h2>Reset Password</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-field">
                {% if form.password.errors %}
                    {{ form.password(placeholder="New Password") }}
                    <div class="underline-error"></div>
                        {% for error in form.password.errors %}
                        <small class="error">{{ error }}</small>
                        {% endfor %}
                {% else %}
                    {{ form.password(placeholder="New Password") }}
                    <div class="underline"></div>
                {% endif %}
            </div>
            <div class="input-field"><br>
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(placeholder="Confirm your New Password") }}
                    <div class="underline-error"></div>
                        {% for error in form.confirm_password.errors %}
                        <small class="error">{{ error }}</small>
                        {% endfor %}
                {% else %}
                    {{ form.confirm_password(placeholder="Confirm your New Password") }}
                    <div class="underline"></div>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </main>
{%endblock%}